@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
//variables
//variables
$font-stack: "Istok Web", sans-serif;

//styling
* {
  transition-duration: 800ms;
}

body {
  margin-top: 50px;
}
.navbar {
  max-height: 30px;
  #navTitle {
    padding: 10px 100px 0 10px;
    font-size: 20px;
    font-family: $font-stack;
    font-style: italic;
  }
  #btnHome,
  #btnPortfolio,
  #btnRegister {
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    height: 30px;
    &:hover {
      border-bottom: 1px solid #3c7ccd;
      text-decoration: none;
    }
  }
}
@media screen and(max-width: 440px){
  .navbar-brand .navbar-item{
    margin-left: -30px;
    transform: scale(70%);
  }
}

@media screen and(max-width: 390px){
  .navbar-brand
  { .navbar-item{
    margin-left: -40px;
  }
  .navbar-burger{
    margin-left: -20px;
  }
}
}

@media screen and(max-width: 350px){
  .navbar-brand
  { .navbar-item{
    margin-left: -40px;
    transform: scale(65%);
  }
  .navbar-burger{
    margin-left: -40px;
  }
}
}